header{
    font-size: 50px;
    position: fixed;
    color: black;
    background-image: linear-gradient(90deg,#ffcdb2, #e5989b, #f2e8cf, #6a994e, #90e0ef);
    text-align: center;
    align-items: center;
    width: 100%;
    box-shadow: 10px 10px 20px black;
    top: 0%;
    }
    footer{
        bottom: 10px;
        left: 0px;
        width: 100%;
        background-image: linear-gradient(90deg,#ffcdb2, #e5989b, #f2e8cf, #6a994e, #90e0ef);
        text-align: center;
    align-items: center;
    position: fixed;
    font-size: 30px;
    bottom: 0%;
    box-shadow: 10px 10px 20px black;
    
    }
    
    body{
        background-image: linear-gradient(90deg,#ffcdb2, #e5989b, #f2e8cf, #6a994e, #90e0ef);
    }
    #a{grid-area: a1;}
    #b{grid-area: b1;}
    #c{grid-area: c1;}
    #d{grid-area: d1;}
    #e{grid-area: e1;}
    #f{grid-area: f1;}
    #g{grid-area: g1;}
    #img{
        height:500px;
        width: 550px;
        margin-top: 50px;
    }
    #img1{
        height:500px;
        width: 550px;
        margin-top: 10px;
    }
    #maindiv{
        display: grid;
        grid-template-areas: 'a1 a1 b1 b1 c1 c1'
    
        'd1 d1 e1 e1 f1 f1'
        
        'g1 g1 g1 g1 g1 g1';
    
        background-color: rgb(247, 236, 215);
        color: aliceblue;
        font-size: 50px;
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        box-shadow: 10px 10px 15px black,-10px -10px 15px black;
        border-radius: 20px;
    }
    
    #maindiv >div{
        grid: gap 5px;
        padding: 20px;
        margin: 10px;
        font-size: 75px;
        border-radius: 20px;}
    
        h1{
            color: black;
            background-color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            width:500px;
            align-items:end;
            margin-left: 50px;
            margin-top: 20px;
            margin-bottom: 20px;
        }
        h2{
            color: black;
            background-color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            width:500px;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        h3{
            color: black;
            background-color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            width:500px;
            text-align: center;
            margin-left: 40px;
            margin-top: 20px;
            margin-bottom: 0px;
        }
        h4{
            color: black;
            background-color: white;
            font-size: 60px;
            font-family: 'Times New Roman', Times, serif;
            width:500px;
            margin-top: 20px;
            margin-bottom: 0px;
            margin-left: 50px;
        }
        button{
            width: 160px;
            height: 80px;
            font-size: 50px;
            color: white;
            background-color: brown;
            margin-top: 0%;
            margin-bottom: 90px;
            box-shadow: 10px 10px 20px black;
            border-radius: 12px;
            cursor: pointer;
            border-color: white;
            border-style: double;
            align-items:center;
        }
        .a1{
            width: 180px;
            height: 80px;
            font-size: 50px;
            color: white;
            background-color: brown;
            margin-top: 0%;
            margin-bottom: 70px;
            box-shadow: 10px 10px 20px black;
            border-radius: 12px;
            cursor: pointer;
            border-color: white;
            border-style: double;
        }
        

        